<lh-common-page pageTitle="{{ 'module.playlist.title' | translate }}">
  <div nz-space>
    <button
      (click)="navigateToCreate()"
      nz-button
      nzType="primary"
      class="mb-2 btnFunction"
    >
      {{ "common.add" | translate }}
    </button>
  </div>

  <nz-table
    #filterTable
    nzShowSizeChanger
    nzTableLayout="fixed"
    [nzData]="playlists"
    [nzFrontPagination]="false"
    [nzLoading]="loading.searching"
    [nzTotal]="total"
    [nzPageIndex]="pageIndex"
    [nzPageSize]="pageSize"
    (nzQueryParams)="onQueryParamsChange($event)"
    nz-col
  >
    <thead>
      <tr>
        <th nzWidth="40px"></th>
        <th
          *ngFor="let column of tableColumns"
          [nzColumnKey]="column.key"
          [nzSortFn]="true"
        >
          {{ column.name | translate }}
        </th>
        <th>{{ "common.option" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of filterTable.data">
        <tr>
          <td
            [nzExpand]="tableRowExpandSet.has(data.id ?? 0)"
            (nzExpandChange)="onExpandChange(data.id ?? 0, $event)"
          ></td>
          <td>{{ data.id }}</td>
          <td>{{ data.name }}</td>
          <td>{{ data.description }}</td>
          <td>
            <button nz-button nzType="primary" (click)="navigateToUpdate(data)">
              {{ "common.update" | translate }}
            </button>
            <nz-divider nzType="vertical"></nz-divider>
            <button nz-button nzType="primary" nzDanger (click)="delete(data)">
              {{ "common.delete" | translate }}
            </button>
          </td>
        </tr>
        <tr [nzExpand]="tableRowExpandSet.has(data.id || 0)">
          <nz-divider
            [nzText]="'module.playlist.listDeviceGroup' | translate"
            nzOrientation="left"
          ></nz-divider>
          <app-admin-playlist-group-device-table
            *ngIf="tableRowExpandSet.has(data.id || 0)"
            [isShowOption]="false"
            [playlistId]="data.id"
          ></app-admin-playlist-group-device-table>
          <nz-divider
            [nzText]="'module.playlist.listFile' | translate"
            nzOrientation="left"
          ></nz-divider>
          <app-admin-playlist-file-table
            *ngIf="tableRowExpandSet.has(data.id || 0)"
            [isShowOption]="false"
            [playlistId]="data.id"
          >
          </app-admin-playlist-file-table>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
</lh-common-page>
