<ng-container *ngTemplateOutlet="groupDeviceDetail"></ng-container>
<ng-container *ngTemplateOutlet="fileDetail"></ng-container>

<ng-template #groupDeviceDetail>
  <div *ngIf="deviceGroups && deviceGroups.length > 0">
    <nz-form-label [nzSpan]="4" nzFor="listDevice" style="padding-top: 30px">
      {{ "module.groupDevice.listDeviceGroup" | translate }}
    </nz-form-label>
    <nz-table
      #filterTable
      nzShowSizeChanger
      nzTableLayout="fixed"
      [nzData]="deviceGroups"
      [nzLoading]="loading.deviceGroups"
      nz-col
    >
      <thead>
        <tr>
          <th
            *ngFor="let column of tableDeviceGroupsColumns"
            [nzColumnKey]="column.key"
            [nzSortFn]="true"
          >
            {{ column.name | translate }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of filterTable.data">
          <td>{{ data.name }}</td>
          <td>{{ data.description }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div *ngIf="!deviceGroups || deviceGroups.length == 0">
    <p>{{ "module.groupDevice.no-deviceGroup" | translate }}</p>
  </div>
</ng-template>

<ng-template #fileDetail>
  <div *ngIf="files && files.length > 0">
    <nz-form-label [nzSpan]="4" nzFor="listDevice" style="padding-top: 30px">
      {{ "module.playlist.listFile" | translate }}
    </nz-form-label>
    <nz-table
      #filterTable
      nzShowSizeChanger
      nzTableLayout="fixed"
      [nzData]="files"
      [nzLoading]="loading.files"
      nz-col
    >
      <thead>
        <tr>
          <th
            *ngFor="let column of tableConfigFile"
            [nzColumnKey]="column.key"
            [nzSortFn]="true"
          >
            {{ column.name | translate }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of filterTable.data">
          <td>{{ data.id }}</td>
          <td>{{ data.path }}</td>
          <td>{{ getMimeTypeName(data.fileType) }}</td>
          <td>{{ data.createDate | date : "dd/M/yyyy - h:mm:ss a" }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div *ngIf="!files || files.length == 0">
    <p>{{ "module.playlist.no-file" | translate }}</p>
  </div>
</ng-template>
