<lh-common-page pageTitle="Device group">
  <div class="mb-2" nz-space>
    <button (click)="navigateToPrevious()" nz-button>
      {{ "common.back" | translate }}
    </button>
  </div>
  <div class="mb-2" nz-space>
    <button (click)="add()" nz-button nzType="primary">
      {{ (this.deviceGroupId ? "common.update" : "common.add") | translate }}
    </button>
  </div>

  <form [formGroup]="form" nz-form>
    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="name">
        {{ "module.groupDevice.name" | translate }}
      </nz-form-label>
      <nz-form-control [formGroup]="form" [nzSpan]="14">
        <input
          formControlName="name"
          id="name"
          name="name"
          nz-input
          type="text"
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="description">
        {{ "module.groupDevice.description" | translate }}
      </nz-form-label>
      <nz-form-control [formGroup]="form" [nzSpan]="14">
        <input formControlName="description" nz-input />
      </nz-form-control>
    </nz-form-item>
    <ng-container *ngIf="deviceGroupId; else elseBlock">
      <ng-container *ngTemplateOutlet="addDevices"></ng-container>
    </ng-container>

    <ng-template #addDevices>
      <nz-form-label [nzSpan]="4" nzFor="listDevice">
        {{ "module.groupDevice.listDevice" | translate }}
      </nz-form-label>
      <nz-skeleton [nzActive]="true" *ngIf="loading.addDevice"></nz-skeleton>

      <app-admin-device-by-group-table
        [isShowOption]="true"
        [deviceGroupId]="deviceGroupId"
      ></app-admin-device-by-group-table>

      <form nz-form [formGroup]="addDeviceForm" nzLayout="vertical">
        <div nz-row nzGutter="16">
          <div nz-col [nzLg]="4" [nzSm]="24">
            <nz-form-item>
              <nz-form-label nzFor="deviceId">{{
                "module.device.add" | translate
              }}</nz-form-label>
              <nz-form-control [formGroup]="addDeviceForm">
                <app-admin-chosen-device
                  class="w-100"
                  formControlName="deviceId"
                  (onDataChange)="setCurrentDevice($event)"
                ></app-admin-chosen-device>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzLg]="4" [nzSm]="24">
            <div
              nz-row
              nzAlign="middle"
              class="h-100"
              style="padding-top: 30px"
            >
              <button
                nz-button
                nzType="primary"
                [nzLoading]="loading.addDevice"
                class="w-100"
                (click)="addDevice()"
              >
                {{ "module.device.add" | translate }}
              </button>
            </div>
          </div>
        </div>
      </form>
    </ng-template>
    <ng-template #elseBlock></ng-template>
  </form>
</lh-common-page>
