<lh-common-page pageTitle="{{ 'module.groupDevice.title' | translate }}">
  <div nz-space>
    <button
      (click)="navigateToCreate()"
      nz-button
      nzType="primary"
      class="mb-2 btnFunction"
    >
      {{ "common.add" | translate }}
    </button>
    <button
      nz-button
      nzType="primary"
      class="mb-2"
      [disabled]="!isSelectedRow"
      (click)="deleteSelected()"
      nzDanger
    >
      {{ "common.delete" | translate }}
    </button>
  </div>

  <lh-common-lh-table
    #table
    [data]="deviceGroups"
    [config]="tableConfig"
    [expandTemplate]="playlistDetail"
    [loading]="loading.searching"
    (onUpdate)="navigateToUpdate($event)"
    (onDelete)="delete($event)"
  ></lh-common-lh-table>
</lh-common-page>
<ng-template #playlistDetail let-data="data">
  <app-admin-device-list [deviceGroupAdmin]="data"></app-admin-device-list>
</ng-template>
