<lh-common-page pageTitle="{{ 'module.groupDevice.title' | translate }}">
  <div nz-space>
    <button
      (click)="navigateToCreate()"
      nz-button
      nzType="primary"
      class="mb-2 btnFunction"
    >
      {{ "common.add" | translate }}
    </button>
    <button
      nz-button
      nzType="primary"
      class="mb-2"
      [disabled]="!isSelectedRow"
      (click)="deleteSelected()"
      nzDanger
    >
      {{ "common.delete" | translate }}
    </button>
  </div>

  <!-- <lh-common-lh-table
    #table
    [data]="deviceGroups"
    [config]="tableConfig"
    [expandTemplate]="playlistDetail"
    [loading]="loading.searching"
    (onUpdate)="navigateToUpdate($event)"
    (onDelete)="delete($event)"
  ></lh-common-lh-table> -->

  <nz-table
    #filterTable
    nzShowSizeChanger
    nzTableLayout="fixed"
    [nzData]="deviceGroups"
    [nzFrontPagination]="false"
    [nzLoading]="loading.searching"
    [nzTotal]="total"
    [nzPageIndex]="pageIndex"
    [nzPageSize]="pageSize"
    (nzQueryParams)="onQueryParamsChange($event)"
    nz-col
  >
    <thead>
      <tr>
        <th nzWidth="40px"></th>
        <th
          *ngFor="let column of tableColumns"
          [nzColumnKey]="column.key"
          [nzSortFn]="true"
        >
          {{ column.name | translate }}
        </th>
        <th>{{ "common.option" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of filterTable.data">
        <tr>
          <td
            [nzExpand]="expandSet.has(data.id || 0)"
            (nzExpandChange)="onExpandChange(data.id || 0, $event)"
          ></td>
          <td>{{ data.name }}</td>
          <td>{{ data.description }}</td>
          <td>
            <button nz-button nzType="primary" (click)="navigateToUpdate(data)">
              {{ "common.update" | translate }}
            </button>
            <nz-divider nzType="vertical"></nz-divider>
            <button nz-button nzType="primary" nzDanger (click)="delete(data)">
              {{ "common.delete" | translate }}
            </button>
          </td>
        </tr>
        <tr [nzExpand]="expandSet.has(data.id || 0)">
          <nz-table
            #filterTable
            [nzData]="devices"
            nzTableLayout="fixed"
            nz-col
          >
            <thead>
              <tr>
                <th *ngFor="let column of tableDeviceColumns" [nzSortFn]="true">
                  {{ column.name | translate }}
                </th>
                <th>{{ "common.option" | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of filterTable.data">
                <td>{{ data.id }}</td>
                <td>{{ data.code }}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.information }}</td>
                <td>{{ data.status }}</td>
              </tr>
            </tbody>
          </nz-table>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
</lh-common-page>
<ng-template #playlistDetail let-data="data">
  <app-admin-device-list-table
    [deviceGroup]="data"
  ></app-admin-device-list-table>
</ng-template>
