<lh-common-page [hidden]="!showFrame.search" pageTitle="{{ 'module.groupdevice.title' | translate }}">
  <div nz-space>
    <button
      (click)="openAddFrame()"
      nz-button
      nzType="primary"
      class="mb-2 btnFunction"
    >
      {{ "common.add" | translate }}
    </button>
    <button
      nz-button
      nzType="primary"
      class="mb-2"
      [disabled]="!isSelectedRow"
      (click)="deleteSelected()"
      nzDanger
    >
      {{ "common.delete" | translate }}
    </button>
  </div>

  <lh-common-lh-table
    #table
    [data] = "deviceGroups"
    [config]="tableConfig"
    [expandTemplate]="playlistDetail"
    [loading]="loading.searching"
    (onUpdate)="update($event)"
    (onDelete)="delete($event)"
  ></lh-common-lh-table>
</lh-common-page>

<lh-common-lh-dialog
  *ngIf="showFrame.add"
  [footerTemplateLeft]="backToSearch"
  [footerTemplateRight]="addActions"
>
  <app-admin-device-group-add [deviceGroupAdmin]="currentDeviceGroup" #addComponent>
  </app-admin-device-group-add>
</lh-common-lh-dialog>





<ng-template #addActions>
  <div nz-space>
    <button (click)="add()" nz-button nzType="primary">
      {{ (this.currentDeviceGroup ? "common.update" : "common.add") | translate }}
    </button>
  </div>
</ng-template>

<ng-template #backToSearch>
  <button (click)="gotoSearch()" nz-button>
    {{ "common.back" | translate }}
  </button>
</ng-template>

<ng-template #playlistDetail>
  <lh-common-lh-table *ngIf="!loading.device"
                      [config]="tableDeviceConfig"
                      [data]="devices"
                      [loading]="loading.device"
  ></lh-common-lh-table>
</ng-template>

