<lh-common-page [hidden]="!showFrame.search" pageTitle="Group device">
  <div nz-space>
    <button
      (click)="openAddFrame()"
      nz-button
      nzType="primary"
      class="mb-2"
    >
     {{ "common.add" | translate }}
    </button>
    <button
      nz-button
      nzType="primary"
      class="mb-2"
      nzDanger
    >
      {{ "common.delete" |  translate }}
    </button>
  </div>

<!--  <div nz-row nzGutter="16" style="margin-bottom: 10px;">-->
<!--    <div nz-col nzSpan="8">-->
<!--      <nz-input-group>-->
<!--        <input nz-input placeholder="module.groupdevice.nameFilter"  (input)="applyFilter()" />-->
<!--      </nz-input-group>-->
<!--    </div>-->

<!--    <div nz-col nzSpan="8">-->
<!--      <nz-input-group>-->
<!--        <input nz-input placeholder="module.groupdevice.locationFilter"  (input)="applyFilter()" />-->
<!--      </nz-input-group>-->
<!--    </div>-->

<!--    <div nz-col nzSpan="8">-->
<!--      <nz-input-group>-->
<!--        <input nz-input placeholder="module.groupdevice.deviceIdFilter" (input)="applyFilter()" />-->
<!--      </nz-input-group>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div nz-col nzSpan="6" style="display: flex; margin-bottom: 10px;">-->
<!--    <button nzType="primary" (click)="applyFilter()">-->
<!--      {{ "common.search" | translate }}-->
<!--    </button>-->
<!--  </div>-->

  <lh-common-lh-table
    #table
    [data]="groupDevices"
    [config]="tableConfig"
    [loading]="loading.searching"
    [expandTemplate]="groupDeviceDetail"
    (onUpdate)="update($event)"
    (onDelete)="delete()"
    (onDetail)="detail($event)"
  >
  </lh-common-lh-table>

</lh-common-page>

<lh-common-lh-dialog
  *ngIf="showFrame.add"
  [footerTemplateLeft]="backtoSearch"
  [footerTemplateRight]="addActions"
>
  <app-admin-group-device-add [groupDeviceAdmin]="currentGroupDevice" #addComponent>

  </app-admin-group-device-add>
</lh-common-lh-dialog>

<ng-template #addActions>
  <div nz-space>
    <button (click)="add()" nz-button nzType="primary">
      {{ "common.add new group" | translate }}
    </button>
  </div>
</ng-template>

<ng-template #backtoSearch>
  <button (click)="gotoSearch()" nz-button>
    {{ "common.back" | translate }}
  </button>
</ng-template>

<ng-template #groupDeviceDetail let-data="data">
  {{ data.description }}
</ng-template>



