<lh-common-page pageTitle="">
  <div [nzGutter]="[16,16]" nz-row>

    <!-- ROW 1 -->
    
    <!-- ROW 2 -->
    <div nz-col nzSpan="24">
      <div [nzGutter]="[16, 16]" class="information_dashboard" nz-row>
        <div
          *ngFor="let s of statisics"
          class="gutter-row" nz-col nzLg="6" nzMd="24" nzSm="24" nzXXl="6" nzXl="6" nzXs="24" style="padding: 8px"
        >
          <nz-card class="cardAround">
            <div class="card">
              <b style="font-size: 20px; font-weight: 600; padding-right: 5px">
                <span [nzType]="s.type" class="icon" nz-icon nzTheme="outline" style="padding-right: 10px"></span>
                {{s.label | translate}} :
              </b>
              <h5 style="font-size: 20px">{{ s.value }}</h5>
            </div>
          </nz-card>
        </div>
      </div>
    </div>

    <!-- ROW 3 -->
    <div nz-col nzSpan="24">
      <div [nzGutter]="[16, 16]" nz-row>
        <div nz-col nzLg="16" nzMd="24" nzSm="24" nzXXl="16" nzXl="16" nzXs="24">
          <nz-card style="border-radius: 5px">
            <nz-skeleton [nzLoading]="loading"></nz-skeleton>
            <div *ngIf="!loading">
              <div>
                <div id="stores" style="
                max-width: 600px;
            ">
                  <canvas
                    baseChart
                    class="chart"
                    [data]="pieChartData"
                    [type]="pieChartType"
                    [options]="pieChartOptions"
                  >
                  </canvas>
                </div>
              </div>
            </div>
          </nz-card>
        </div>
        <div nz-col nzLg="8" nzMd="24" nzSm="24" nzXXl="8" nzXl="8" nzXs="24">
          <nz-card class="h-100" style="border-radius: 5px;">
            <p style="font-size: 20px !important; font-weight: 400">{{ "module.dashboard.playlistNumber" | translate }}</p>
            <div class="test">
              <span [nzType]="'play-circle'" class="icon" nz-icon nzTheme="outline" nzType="form" style="font-size: 40px !important"></span>
              <p>3</p>
            </div>
            <div class="infoTest">
              <p class="txt">{{ "module.dashboard.latestDownloadTime" | translate }}:</p>
              <span> 09:10 AM</span>
            </div>
            <div class="infoTest">
              <p class="txt">{{ "module.dashboard.latestPlaylistID" | translate }}:</p>
              <span> Playlist No.3</span>
            </div>
            <div class="infoTest">
              <p class="txt">{{ "module.dashboard.latestPlaylistDuration" | translate }}:</p>
              <span> 20 mins</span>
            </div>
          </nz-card>
        </div>
      </div>
    </div>

  </div>
</lh-common-page>
