<lh-common-page pageTitle="Device group">
  <div class="mb-2" nz-space>
    <button (click)="navigateToPrevious()" nz-button>
      {{ "common.back" | translate }}
    </button>
  </div>
  <div class="mb-2" nz-space>
    <button (click)="add()" nz-button nzType="primary">
      {{ (this.deviceGroupId ? "common.update" : "common.add") | translate }}
    </button>
  </div>

  <form [formGroup]="form" nz-form>
    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="name">
        {{ "module.groupDevice.name" | translate }}
      </nz-form-label>
      <nz-form-control [formGroup]="form" [nzSpan]="14">
        <input
          formControlName="name"
          id="name"
          name="name"
          nz-input
          type="text"
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="description">
        {{ "module.groupDevice.description" | translate }}
      </nz-form-label>
      <nz-form-control [formGroup]="form" [nzSpan]="14">
        <input formControlName="description" nz-input />
      </nz-form-control>
    </nz-form-item>
    <ng-container *ngIf="deviceGroupId; else elseBlock">
      <ng-container *ngTemplateOutlet="addDevices"></ng-container>
    </ng-container>

    <ng-template #addDevices>
      <nz-form-label [nzSpan]="4" nzFor="listDevice">
        {{ "module.groupDevice.listDevice" | translate }}
      </nz-form-label>
      <nz-skeleton [nzActive]="true" *ngIf="loading.addDevice"></nz-skeleton>
      <!-- <lh-common-lh-table
        *ngIf="!loading.addDevice"
        [config]="tableConfig"
        [data]="devices"
        (onDelete)="removeDeviceFromDeviceGroup($event)"
        [loading]="loading.addDevice"
        (onUpdate)="detailDevice($event)"
      ></lh-common-lh-table> -->

      <nz-table #filterTable [nzData]="devices" nzTableLayout="fixed" nz-col>
        <thead>
          <tr>
            <th *ngFor="let column of tableColumns" [nzSortFn]="true">
              {{ column.name | translate }}
            </th>
            <th>{{ "common.option" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of filterTable.data">
            <td>{{ data.code }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.information }}</td>
            <td>{{ data.status }}</td>
          </tr>
        </tbody>
      </nz-table>

      <form nz-form [formGroup]="addDeviceForm" nzLayout="vertical">
        <!--      <div nz-col [nzLg]="4" [nzSm]="24" style="float: right">-->
        <!--        <div nz-row nzAlign="middle" class="h-100" style="padding-top: 15px; padding-bottom: 15px;">-->
        <!--          <button nz-button nzType="primary" nzDanger-->
        <!--                  [nzLoading]="loading.deleteDevices" class="w-100"-->
        <!--                  (click)="deleteDevices()">{{'module.device.delete' |translate}}</button>-->
        <!--        </div>-->
        <!--      </div>-->
        <div nz-row nzGutter="16">
          <div nz-col [nzLg]="4" [nzSm]="24">
            <nz-form-item>
              <nz-form-label nzFor="deviceId">{{
                "module.device.add" | translate
              }}</nz-form-label>
              <nz-form-control [formGroup]="addDeviceForm">
                <app-admin-chosen-device
                  class="w-100"
                  formControlName="deviceId"
                  (onDataChange)="setCurrentDevice($event)"
                ></app-admin-chosen-device>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzLg]="4" [nzSm]="24">
            <div
              nz-row
              nzAlign="middle"
              class="h-100"
              style="padding-top: 30px"
            >
              <button
                nz-button
                nzType="primary"
                [nzLoading]="loading.addDevice"
                class="w-100"
                (click)="addDevice()"
              >
                {{ "module.device.add" | translate }}
              </button>
            </div>
          </div>
        </div>
      </form>
    </ng-template>
    <ng-template #elseBlock></ng-template>
  </form>
</lh-common-page>
