<lh-common-page [hidden]="!showFrame.search" pageTitle="{{ 'module.device.title' | translate }}">
  <div nz-space></div>
  <lh-common-lh-table
    #table
    [data]="devices"
    [config]="tableConfig"
    [loading]="loading.searching"
    (onUpdate)="showUpdate($event)"
    [expandTemplate]="deviceDetail"
  >
  </lh-common-lh-table>
  <ng-template #deviceDetail let-data="data">
    <div [innerHTML]="data.description"></div>
    <div [innerHTML]="data.user"></div>
  </ng-template>
</lh-common-page>

<lh-common-lh-dialog *ngIf="showFrame.detail && currenetDevice?.id">
  <app-admin-device-detail [deviceId]="currenetDevice.id"></app-admin-device-detail>
</lh-common-lh-dialog>
