<lh-common-page pageTitle="{{ 'module.device.title' | translate }}">
  <div [nzGutter]="[16, 16]" nz-row>
    <nz-select nz-col style="width: 120px" [(ngModel)]="statusSelect">
      <nz-option
        *ngFor="let option of statusOptions"
        [nzLabel]="option.label | translate"
        [nzValue]="option.value"
      ></nz-option>
    </nz-select>
  </div>

  <div [nzGutter]="[16, 16]" nz-row>
    <app-admin-device-table
      nz-col
      [isShowOption]="true"
      [status]="statusSelect"
      (onHandleToDetail)="navigateToDetail($event)"
    ></app-admin-device-table>
  </div>
</lh-common-page>
