<lh-common-page pageTitle="{{ 'module.device.title' | translate }}">
  <div [nzGutter]="[16, 16]" nz-row nzAlign="middle">
    <div nz-col nzSpan="2">
      <button nz-button nzType="primary">
        {{ "button.search" | translate }}
      </button>
    </div>
    <div nz-col nzSpan="2">
      <nz-select
        style="width: 100px"
        [(ngModel)]="statusSelect"
        (ngModelChange)="onStatusChange($event)"
      >
        <nz-option
          *ngFor="let option of statusOptions"
          [nzLabel]="option.label | translate"
          [nzValue]="option.value"
        ></nz-option>
      </nz-select>
    </div>
  </div>

  <div [nzGutter]="[16, 16]" nz-row>
    <!-- <lh-common-lh-table
      nz-col
      nzSpan="24"
      #table
      [data]="devices"
      [config]="tableConfig"
      [loading]="loading.searching"
      (onDetail)="navigateToDetail($event)"
      [expandTemplate]="deviceDetail"
    >
    </lh-common-lh-table> -->
    <nz-table #filterTable [nzData]="devices" nzTableLayout="fixed" nz-col>
      <thead>
        <tr>
          <th
            *ngFor="let column of tableColumns"
            [nzSortOrder]="column.sortOrder"
            [nzSortFn]="column.sortFn"
            [nzSortDirections]="column.sortDirections"
            [nzFilterMultiple]="column.filterMultiple"
            [nzFilters]="column.listOfFilter"
            [nzFilterFn]="column.filterFn"
          >
            {{ column.name | translate }}
          </th>
          <th>{{ "common.option" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of filterTable.data">
          <td>{{ data.id }}</td>
          <td>{{ data.code }}</td>
          <td>{{ data.name }}</td>
          <td>{{ data.information }}</td>
          <td>{{ data.status }}</td>
          <td>
            <button nz-button nzType="primary" (click)="navigateToDetail(data)">
              {{ "common.preview" | translate }}
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</lh-common-page>

<lh-common-lh-dialog *ngIf="currentDevice?.id">
  <app-admin-device-detail
    [deviceId]="currentDevice.id"
  ></app-admin-device-detail>
</lh-common-lh-dialog>

<ng-template #deviceDetail let-data="data">
  <app-admin-device-chart [device]="data"></app-admin-device-chart>
</ng-template>
