<lh-common-page pageTitle="{{ 'module.device.title-log' | translate }}">
  <div [nzGutter]="[16, 16]" nz-row>
    <div nz-col>
      <button (click)="navigateToPrevious()" nz-button>
        {{ "common.back" | translate }}
      </button>
    </div>
  </div>

  <div [nzGutter]="[16, 16]" nz-row>
    <app-admin-device-log-chart
      nz-col
      nzSpan="24"
      [deviceId]="deviceId"
      [deviceLogs]="deviceLogs"
    ></app-admin-device-log-chart>
  </div>

  <div [nzGutter]="[16, 16]" nz-row>
    <app-admin-device-log-table
      nz-col
      [isShowOption]="false"
      [deviceId]="deviceId"
      [deviceLogs]="deviceLogs"
    ></app-admin-device-log-table>
  </div>
</lh-common-page>
