<lh-common-page>
  <div class="mb-2" nz-space>
    <button (click)="navigateToPrevious()" nz-button>
      {{ "common.back" | translate }}
    </button>
  </div>
  <div [nzGutter]="[16, 16]" nz-row>
    <div nz-col nzSpan="24">
      <nz-card>
        <div id="device-log-chart1"></div>
      </nz-card>
    </div>
  </div>
  <div [nzGutter]="[16, 16]" nz-row>
    <nz-table
      #filterTable
      nzShowSizeChanger
      nzTableLayout="fixed"
      [nzData]="deviceLogs"
      [nzFrontPagination]="false"
      [nzLoading]="loading.searching"
      [nzTotal]="totalDeviceLogs"
      [nzPageIndex]="pageIndexDeviceLogs"
      [nzPageSize]="pageSizeDeviceLogs"
      (nzQueryParams)="onQueryParamsChangeDeviceLogs($event)"
      nz-col
    >
      <thead>
        <tr>
          <th
            *ngFor="let column of tableColumns"
            [nzColumnKey]="column.key"
            [nzSortFn]="true"
          >
            {{ column.name | translate }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of filterTable.data">
          <td>{{ data.id }}</td>
          <td
            [ngClass]="{
              online: data.status === 'ONLINE',
              offline: data.status === 'OFFLINE'
            }"
          >
            {{ data.status }}
          </td>
          <td>{{ data.date | date : "dd/M/yyyy - h:mm:ss a - z" }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</lh-common-page>
