<lh-common-page pageTitle="{{ 'module.device.title-log' | translate }}">
  <div [nzGutter]="[16, 16]" nz-row>
    <div nz-col>
      <button (click)="navigateToPrevious()" nz-button>
        {{ "common.back" | translate }}
      </button>
    </div>
    <div nz-col>
      <button (click)="update()" nz-button nzType="primary">
        {{ "common.update" | translate }}
      </button>
    </div>
  </div>

  <form form [formGroup]="deviceUpdateForm" [nzGutter]="[16, 16]" nz-row>
    <nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">{{
          "module.device.name" | translate
        }}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input
            nz-input
            formControlName="name"
            placeholder="{{ 'module.device.name' | translate }}"
          />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">
          {{ "module.device.info" | translate }}
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input
            nz-input
            formControlName="information"
            placeholder="{{ 'module.device.info' | translate }}"
          />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">
          {{ "module.device.description" | translate }}
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input
            nz-input
            formControlName="description"
            placeholder="{{ 'module.device.description' | translate }}"
          />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">
          {{ "module.device.serialNo" | translate }}
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input
            nz-input
            formControlName="serialNo"
            placeholder="{{ 'module.device.serialNo' | translate }}"
          />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">
          {{ "module.device.vehicleNumber" | translate }}
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input
            nz-input
            formControlName="vehicleNumber"
            placeholder="{{ 'module.device.vehicleNumber' | translate }}"
          />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">
          {{ "module.device.ybs" | translate }}
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input
            nz-input
            formControlName="ybs"
            placeholder="{{ 'module.device.ybs' | translate }}"
          />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </form>

  <nz-divider></nz-divider>

  <form form [formGroup]="searchForm" [nzGutter]="[16, 16]" nz-row>
    <nz-col nzSpan="6">
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
        <input
          nz-input
          formControlName="keyword"
          placeholder="{{ 'common.search' | translate }}"
        />
      </nz-input-group>
    </nz-col>
    <nz-select nz-col nzSpan="4" formControlName="status">
      <nz-option
        *ngFor="let option of statusOptions"
        [nzLabel]="option.label | translate"
        [nzValue]="option.value"
      ></nz-option>
    </nz-select>
  </form>

  <div [nzGutter]="[16, 16]" nz-row>
    <app-admin-device-log-chart
      nz-col
      nzSpan="24"
      [deviceId]="deviceId"
      [deviceLogs]="deviceLogs"
    ></app-admin-device-log-chart>
  </div>

  <div [nzGutter]="[16, 16]" nz-row>
    <app-admin-device-log-table
      nz-col
      nzSpan="24"
      [isShowOption]="false"
      [status]="statusSelect"
      [deviceId]="deviceId"
      [deviceLogs]="deviceLogs"
    ></app-admin-device-log-table>
  </div>
</lh-common-page>

<ng-template #suffixIconButton>
  <button
    nz-button
    nzType="primary"
    nzSearch
    type="submit"
    (click)="onClearKeyword()"
  >
    <span nz-icon nzType="close-circle" nzTheme="outline"></span>
  </button>
</ng-template>

<div class="page-loading" *ngIf="pageLoadingStack > 0">
  <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>
