<lh-common-page pageTitle="{{ 'module.file.title' | translate }}">
  <div [nzGutter]="[16, 16]" nz-row>
    <button
      (click)="navigateToCreate()"
      nz-button
      nzType="primary"
      class="mb-2 btnFunction"
    >
      {{ "module.file.upload.title" | translate }}
    </button>
    <button
      (click)="isShowAddCategoryModal = !isShowAddCategoryModal"
      nz-button
      nzType="primary"
      class="mb-2 btnFunction"
    >
      {{ "module.category.add" | translate }}
    </button>
  </div>

  <div [nzGutter]="[16, 16]" nz-row>
    <nz-input-group [nzSuffix]="suffixIcon">
      <input
        type="text"
        nz-input
        [placeholder]="'module.category.search' | translate"
        [(ngModel)]="searchValue"
      />
      <ng-template #suffixIcon>
        <span nz-icon nzType="search"></span>
      </ng-template>
    </nz-input-group>
  </div>

  <nz-divider></nz-divider>

  <div [nzGutter]="[16, 16]" nz-row>
    <nz-tree
      nz-col
      nzSpan="24"
      nzShowLine
      nzDraggable
      nzBlockNode
      [nzData]="nodes"
      [nzSearchValue]="searchValue"
      [nzBeforeDrop]="onBeforeDrop"
      (nzDblClick)="onDoubleClick($event)"
      (nzOnDrop)="onDrop($event)"
    ></nz-tree>
  </div>
</lh-common-page>

<nz-modal
  [(nzVisible)]="isShowAddCategoryModal"
  [nzTitle]="addCategoryModalTitle"
  [nzContent]="addCategoryModalContent"
  [nzFooter]="addCategoryModalFooter"
  (nzOnCancel)="onCancelAddCategory()"
  (nzOnOk)="onOkCategory()"
>
  <ng-template #addCategoryModalTitle>
    {{ "module.category.add-modal.title" | translate }}
  </ng-template>
  <ng-template #addCategoryModalContent>
    <form nz-form [formGroup]="categoryForm" (ngSubmit)="onSubmitAddCategory()">
      <nz-form-item>
        <nz-form-label nzSpan="4" nzRequired>{{
          "module.category.name" | translate
        }}</nz-form-label>
        <nz-form-control
          nzSpan="20"
          [nzErrorTip]="'module.category.error.required-name' | translate"
        >
          <input nz-input formControlName="name" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzSpan="4">{{
          "module.category.description" | translate
        }}</nz-form-label>
        <nz-form-control nzSpan="20">
          <input nz-input formControlName="description" />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>
  <ng-template #addCategoryModalFooter>
    <button nz-button nzType="default" (click)="isShowAddCategoryModal = false">
      {{ "button.close" | translate }}
    </button>
    <button nz-button nzType="primary" (click)="onSubmitAddCategory()">
      {{ "button.add" | translate }}
    </button>
  </ng-template>
</nz-modal>

<nz-modal
  [(nzVisible)]="previewFile.isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnOk)="onDownloadPreview()"
  (nzOnCancel)="onCancelPreview()"
>
  <ng-template #modalTitle> {{ previewFile.dsdFile?.path }} </ng-template>
  <ng-template #modalContent>
    <div *ngIf="!previewFile.src" class="preview-loading">
      <nz-spin nzSimple></nz-spin>
    </div>
    <img
      *ngIf="previewFile.src && isFile(previewFile.dsdFile?.fileType)"
      width="100%"
      height="auto"
      [src]="previewFile.src"
      alt="{{ previewFile.dsdFile?.path }}"
    />
    <video
      *ngIf="previewFile.src && !isFile(previewFile.dsdFile?.fileType)"
      width="100%"
      height="auto"
      controls
    >
      <source
        [src]="previewFile.src"
        type="{{ previewFile.dsdFile?.fileType }}"
      />
      {{ "error.video-not-support" | translate }}
    </video>
  </ng-template>
  <ng-template #modalFooter>
    <button
      *ngIf="previewFile.categoryId"
      nz-button
      nzDanger
      style="float: left"
      (click)="
        onRemoveFileFromCategory(
          previewFile.categoryId,
          previewFile.dsdFile?.id
        )
      "
    >
      {{ "module.file.remove-category" | translate }}
    </button>
    <button nz-button nzType="default" (click)="previewFile.isVisible = false">
      {{ "button.close" | translate }}
    </button>
    <button nz-button nzType="primary" (click)="onDownloadPreview()">
      {{ "button.download" | translate }}
    </button>
  </ng-template>
</nz-modal>

<div class="page-loading" *ngIf="isPageLoading">
  <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>
