<lh-common-page pageTitle="{{ 'module.file.title' | translate }}">
  <div nz-space>
    <button
      (click)="navigateToCreate()"
      nz-button
      nzType="primary"
      class="mb-2 btnFunction"
    >
      {{ "common.add" | translate }}
    </button>
  </div>
  <!-- 
  <lh-common-lh-table
    #table
    [data]="files"
    [config]="tableConfig"
    [loading]="loading.searching"
    (onDelete)="delete($event)"
    (onDetail)="navigateToDetail($event)"
    (onPreview)="preview($event)"
  ></lh-common-lh-table> -->
  <nz-table #filterTable [nzData]="files" nzTableLayout="fixed" nz-col>
    <thead>
      <tr>
        <th
          *ngFor="let column of tableColumns"
          [nzSortOrder]="column.sortOrder"
          [nzSortFn]="column.sortFn"
          [nzSortDirections]="column.sortDirections"
          [nzFilterMultiple]="column.filterMultiple"
          [nzFilters]="column.listOfFilter"
          [nzFilterFn]="column.filterFn"
        >
          {{ column.name | translate }}
        </th>
        <th>{{ "common.option" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of filterTable.data">
        <td>{{ data.id }}</td>
        <td>{{ data.path }}</td>
        <td>{{ data.fileType }}</td>
        <td>{{ data.createDate | date : "dd/M/yyyy - h:mm:ss a - z" }}</td>
        <td>
          <button nz-button nzType="primary" (click)="preview(data)">
            {{ "common.preview" | translate }}
          </button>
          <button nz-button nzType="primary" nzDanger (click)="delete(data)">
            {{ "common.delete" | translate }}
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <nz-modal
    [(nzVisible)]="previewFile.isVisible"
    [nzTitle]="modalTitle"
    [nzContent]="modalContent"
    [nzFooter]="modalFooter"
    (nzOnOk)="onDownload()"
    (nzOnCancel)="onCancel()"
  >
    <ng-template #modalTitle> {{ previewFile.dsdFile?.path }} </ng-template>
    <ng-template #modalContent>
      <div *ngIf="!previewFile.src" class="preview-loading">
        <nz-spin nzSimple></nz-spin>
      </div>
      <img
        *ngIf="previewFile.src && isFile(previewFile.dsdFile?.fileType)"
        width="100%"
        height="auto"
        [src]="previewFile.src"
        alt="{{ previewFile.dsdFile?.path }}"
      />
      <video
        *ngIf="previewFile.src && !isFile(previewFile.dsdFile?.fileType)"
        width="100%"
        height="auto"
        controls
      >
        <source
          [src]="previewFile.src"
          type="{{ previewFile.dsdFile?.fileType }}"
        />
        {{ "error.video-not-support" | translate }}
      </video>
    </ng-template>
    <ng-template #modalFooter>
      <button
        nz-button
        nzType="default"
        (click)="previewFile.isVisible = false"
      >
        {{ "button.close" | translate }}
      </button>
      <button nz-button nzType="primary" (click)="onDownload()">
        {{ "button.download" | translate }}
      </button>
    </ng-template>
  </nz-modal>
</lh-common-page>
