<lh-common-page pageTitle="Add Playlist">
  <div class="mb-2" nz-space>
    <button (click)="navigateToPrevious()" nz-button nzType="primary">
      {{ "common.back" | translate }}
    </button>
  </div>
  <div class="mb-2" nz-space>
    <button (click)="add()" nz-button nzType="primary">
      {{ (this.currentPlaylist ? "common.update" : "common.add") | translate }}
    </button>
  </div>
</lh-common-page>

<div [nzGutter]="[16, 16]" nz-row>
  <form [formGroup]="form" nz-col nz-form nzSpan="24">
    <nz-form-item>
      <nz-form-label [nzSpan]="4">{{
        "module.playlist.name" | translate
      }}</nz-form-label>
      <nz-form-control [formGroup]="form" [nzSpan]="14">
        <input formControlName="name" name="name" nz-input />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="description">{{
        "module.playlist.description" | translate
      }}</nz-form-label>
      <nz-form-control [formGroup]="form" [nzSpan]="14">
        <input
          formControlName="description"
          id="description"
          name="description"
          nz-input
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="startTime">{{
        "module.playlist.startTime" | translate
      }}</nz-form-label>
      <nz-form-control [formGroup]="form" [nzSpan]="14">
        <input formControlName="startTime" id="startTime" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="endTime">{{
        "module.playlist.endTime" | translate
      }}</nz-form-label>
      <nz-form-control [formGroup]="form" [nzSpan]="14">
        <input formControlName="endTime" id="endTime" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4">
        {{ "module.playlist.isLoop" | translate }}
      </nz-form-label>
      <nz-form-control [formGroup]="form" [nzSpan]="14">
        <label [nzChecked]="isChecked" formControlName="isLoop" nz-checkbox>
          {{ "module.playlist.true" | translate }}</label
        >
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4">
        {{ "module.playlist.status" | translate }}
      </nz-form-label>
      <nz-form-control [formGroup]="form" [nzSpan]="14">
        <nz-select
          [nzPlaceHolder]="'common.status' | translate"
          formControlName="status"
        >
          <nz-option
            [nzLabel]="'common.active' | translate"
            nzValue="ACTIVE"
          ></nz-option>
          <nz-option
            [nzLabel]="'common.inactive' | translate"
            nzValue="INACTIVE"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <ng-container *ngIf="playlistId; else elseBlock">
      <ng-container *ngTemplateOutlet="addFiles"></ng-container>
    </ng-container>
  </form>
</div>
<ng-template #elseBlock></ng-template>
<ng-template #addGroupDevice>
  <nz-form-label [nzSpan]="4" nzFor="listDevice" style="padding-top: 30px">
    {{ "module.groupDevice.listDeviceGroup" | translate }}
  </nz-form-label>
  <nz-skeleton [nzActive]="true" *ngIf="loading.addDeviceGroup"></nz-skeleton>
  <lh-common-lh-table
    *ngIf="!loading.addDeviceGroup"
    [config]="tableConfigDeviceGroup"
    [data]="deviceGroups"
    [loading]="loading.addDeviceGroup"
    (onDelete)="deleteDeviceGroup($event)"
  ></lh-common-lh-table>
  <form nz-form [formGroup]="addFileForm" nzLayout="vertical">
    <div nz-row nzGutter="16">
      <div nz-col [nzLg]="4" [nzSm]="24">
        <nz-form-item>
          <nz-form-label>{{
            "module.groupDevice.deviceGroupAdd" | translate
          }}</nz-form-label>
          <nz-form-control [formGroup]="addFileForm">
            <app-admin-chosen-group-device
              class="w-100"
              formControlName="fileId"
              (onDataDeviceGroupChange)="setCurrentDeviceGroup($event)"
            ></app-admin-chosen-group-device>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzLg]="4" [nzSm]="24">
        <div nz-row nzAlign="middle" class="h-100" style="padding-top: 30px">
          <button
            nz-button
            nzType="primary"
            [nzLoading]="loading.addDeviceGroup"
            class="w-100"
            (click)="addDeviceGroup()"
          >
            {{ "module.groupDevice.deviceGroupAdd" | translate }}
          </button>
        </div>
      </div>
    </div>
  </form>
</ng-template>
<ng-template #addFiles>
  <nz-form-label [nzSpan]="4" nzFor="listDevice">
    {{ "module.file.list-file" | translate }}
  </nz-form-label>
  <nz-skeleton [nzActive]="true" *ngIf="loading.addFile"></nz-skeleton>
  <lh-common-lh-table
    *ngIf="!loading.addFile"
    [config]="tableConfig"
    [data]="files"
    [loading]="loading.addFile"
    (onDelete)="deleteFile($event)"
  ></lh-common-lh-table>
  <form nz-form [formGroup]="addFileForm" nzLayout="vertical">
    <div nz-row nzGutter="16">
      <div nz-col [nzLg]="4" [nzSm]="24">
        <nz-form-item>
          <nz-form-label>{{ "module.file.add" | translate }}</nz-form-label>
          <nz-form-control [formGroup]="addFileForm">
            <app-admin-chosen-file
              class="w-100"
              formControlName="fileId"
              (onDataFileChange)="setCurrentFile($event)"
            ></app-admin-chosen-file>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzLg]="4" [nzSm]="24">
        <div nz-row nzAlign="middle" class="h-100" style="padding-top: 30px">
          <button
            nz-button
            nzType="primary"
            [nzLoading]="loading.addFile"
            class="w-100"
            (click)="addFile()"
          >
            {{ "module.file.add" | translate }}
          </button>
        </div>
      </div>
    </div>
  </form>
</ng-template>
