<nz-tabset>
  <nz-tab
    *ngFor="let tab of tabs"
    [nzDisabled]="tab.code === 'file' && !playlistAdmin?.id"
    [nzTitle]="tab.name | translate"
  >
    <ng-container *ngIf="tab.code === 'info'">
      <ng-container *ngTemplateOutlet="info"></ng-container>
    </ng-container>
  </nz-tab>
</nz-tabset>
<ng-template #info>
  <form [formGroup]="form" nz-form>
    <nz-form-item>
      <nz-form-label [nzSpan]="4">{{
        "module.playlist.name" | translate
      }}</nz-form-label>
      <nz-form-control [formGroup]="form" [nzSpan]="14">
        <input formControlName="name" name="name" nz-input />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="description">{{
        "module.playlist.description" | translate
      }}</nz-form-label>
      <nz-form-control [formGroup]="form" [nzSpan]="14">
        <input
          formControlName="description"
          id="description"
          name="description"
          nz-input
          rows="5"
          type="description"
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="startTime">{{
        "module.playlist.startTime" | translate
      }}</nz-form-label>
      <nz-form-control [formGroup]="form" [nzSpan]="14">
        <input formControlName="startTime" id="startTime" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="endTime">{{
        "module.playlist.endTime" | translate
      }}</nz-form-label>
      <nz-form-control [formGroup]="form" [nzSpan]="14">
        <input formControlName="endTime" id="endTime" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4">
        {{ "module.playlist.isLoop" | translate }}
      </nz-form-label>
      <nz-form-control [formGroup]="form" [nzSpan]="14">
        <label [nzChecked]="isChecked" formControlName="isLoop" nz-checkbox>
          {{ "module.playlist.true" | translate }}</label
        >
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="24">
        {{ "module.playlist.file" | translate }}
      </nz-form-label>
      <app-admin-file-add [control]="form.controls.files"></app-admin-file-add>
    </nz-form-item>
  </form>
</ng-template>
