<nz-tabset>
  <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab.name | translate">
    <ng-container *ngIf="tab.code === 'info'">
      <ng-container *ngTemplateOutlet="info"></ng-container>
    </ng-container>
    <ng-container *ngIf="tab.code === 'device' && !groupDeviceAdmin?.id">
      <ng-container *ngTemplateOutlet="device"></ng-container>
    </ng-container>
  </nz-tab>
</nz-tabset>

<ng-template #info>
  <form [formGroup]="form" nz-form>
    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="name">
        {{ "module.groupdevice.name" | translate }}
      </nz-form-label>
      <nz-form-control [formGroup]="form" [nzSpan]="14">
        <input
          formControlName="name"
          id="name"
          name="name"
          nz-input
          type="text"
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="description">
        {{ "module.groupdevice.description" | translate }}
      </nz-form-label>
      <nz-form-control [formGroup]="form" [nzSpan]="14">
        <input formControlName="name" nz-input />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzFor="location">
        {{ "module.groupdevice.location" | translate }}
      </nz-form-label>
      <nz-form-control [formGroup]="form" [nzSpan]="14">
        <input formControlName="name" nz-input />
      </nz-form-control>
    </nz-form-item>

  </form>
</ng-template>

<ng-template #device>
  <app-admin-group-device-content>
  </app-admin-group-device-content>
</ng-template>
